<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
   <div class="box" id="heading">
   <h1>It's <%= weekday %></h1>
</div>

<div class="box">

   <ul>
   
      <%   newitem.map(item=>{  %>
         <% console.log(item)  %>
         <div class="item">
            <input type="checkbox">
            <p>
           <%= item %>
         </p>  
      </div>
        <% }) %>
        </ul>
        <form action="/" method="post" class="item">
         <input type="text" name="list" placeholder="Create your todo List" autocomplete="off">
         <button type="submit" name="submit">+</button>
        </form>
</div>


   
   
</body>
</html>